<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} ALG-Yun {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blogs/css/pure-min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blogs/css/grids-responsive-min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blogs/css/blog.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blogs/css/font-awesome.min.css' %}"/>
</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header" style="text-align: center">
            <h1 class="brand-title"><a href="{% url 'home' %}" style="text-decoration: none">ALG-Yun</a></h1>
            <h2 class="brand-tagline">爱生活，爱ALG</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        {% for category in category_list %}
                            <a class="pure-button" href="{% url 'category_menu' id=category.id %}" style="text-decoration: none">{{ category }}</a>
                        {% endfor %}&nbsp;
                    </li>
                </ul>
                <br>
                <ul class="nav-list">
                    <li>
                        <a href="user/register/" style="text-decoration: none">
                            <i class="fa fa-user-plus" style="font-size: 30px" aria-hidden="true" title="注册账号"></i>
                        </a>
                        &nbsp;
                        <a href="user/login/" style="text-decoration: none">
                            <i class="fa fa-sign-in" style="font-size: 30px" aria-hidden="true" title="登录"></i>
                        </a>
                        &nbsp;
                        <a href=mailto:dickqi87@gmail.com style="text-decoration: none">
                            <i class="fa fa-envelope-o" style="font-size: 30px" aria-hidden="true" title="邮箱"></i>
                        </a>
                        &nbsp;
                        <a href="https://github.com/DICKQI/" style="text-decoration: none" title="Github">
                            <i class="fa fa-github" style="font-size: 34px" aria-hidden="true"></i>
                        </a>
                        &nbsp;
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>